.label {
    -fx-text-fill: blue;
}

.root{
    -theme-colour : #1e7390;
    -theme-deep-colour : derive(-theme-colour, -15%);
    -theme-font-colour : derive(-theme-colour, -50%);
    -theme-deep-font-colour : derive(-theme-font-colour, -50%);
    -theme-light-colour : derive(-theme-colour, +90%);
    -contrast-colour : #3538b6;
    -contrast-deep-colour : derive(-contrast-colour, -20%);
    -near-black : #252535;
    -theme-font-family : 'Calibri', 'Carlito';
}

.label-text {
    -fx-font-family : -theme-font-family;
    -fx-font-size: 14;
    -fx-fill: -theme-colour;
    -fx-font-weight: bold;
}

.stop-sign {
    -fx-font-family : -theme-font-family;
    -fx-font-size: 14;
    -fx-fill: black;
    -fx-font-weight: bold;
}

.play-sign {
    -fx-font-family : -theme-font-family;
    -fx-font-size: 14;
    -fx-fill: green;
    -fx-font-weight: bold;
}

.record-sign {
    -fx-font-family : -theme-font-family;
    -fx-font-size: 14;
    -fx-fill: red;
    -fx-font-weight: bold;
}